---
import Layout from "@libs/layouts/Layout.astro";
---

<Layout
    title="Welcome to Astro"
    description="Welcome to Astro + React + Tailwind"
>
    <main
        class="min-h-screen bg-gray-100 flex flex-col items-center justify-center gap-4"
    >
        <h1 class="text-4xl font-bold text-blue-600">
            Welcome to Astro + React + Tailwind
        </h1>
    </main>
</Layout>
