---
import { Hero } from "@blocks/Hero";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CHANGEME" description="YOUR META DESCRIPTION FOR SEO">
    <main class="page-content">
        <Hero
            heroType="center"
            data={{
                title: `This is astro starter`,
                description: `This is a starter template for Astro`,
                image: "heroImg",
                buttons: [
                    {
                        text: "Get Started",
                        link: "/",
                        variant: "primary",
                    },
                    {
                        text: "Learn More",
                        link: "/",
                        variant: "secondary",
                    },
                ],
            }}
        />
    </main>
</Layout>
